.debug *[style] {
  border: 5px solid red;
}
.debug a:not([href]), .debug a[href="#"], .debug a[href=""], .debug a[href*="javascript:void(0)"] {
  border: 5px solid blue;
}
.debug img:not([alt]), .debug img[alt=""] {
  border: 5px solid orange;
}
.debug:not([lang]), .debug[lang=""] {
  border: 5px solid coral;
}
.debug meta[charset]:not([charset="UTF-8"]) {
  border: 5px solid crimson;
}
.debug meta[charset="UTF-8"]:not(:first-child) {
  border: 5px solid crimson;
}
.debug meta[name="viewport"][content*="user-scalable=no"], .debug meta[name="viewport"][content*="maximum-scale"], .debug meta[name="viewport"][content*="minimum-scale"] {
  border: 5px solid fuchsia;
}
.debug input:not([id]), .debug select:not([id]), .debug textarea:not([id]) {
  border: 5px solid orchid;
}
.debug label:not([for]) {
  border: 5px solid orchid;
}
.debug input:not([name]), .debug select:not([name]), .debug textarea:not([name]), .debug form:not([name]):not([id]) {
  border: 5px solid purple;
}
.debug button:empty, .debug a:empty {
  border: 5px solid cornflowerblue;
}
.debug script[type="text/javascript"], .debug link[rel="stylesheet"][type="text/css"] {
  border: 5px solid teal;
}
